body {
    padding-top: 50px;
    background-color: #444444;
    color: #AAAAAA;
    font-family: 'Roboto Mono';
}
h1 {
    font-weight: 700;
    font-size: 4em;            
}
a {
    color: #8855FF;    
}
a:hover {
    color: #99ccff;        
}
.main {
    padding: 40px 15px;
    text-align: center;
}
.back-container {
    padding-top: 60px;
    text-align: center;
}
.main-content {
    padding-top: 30px;
    text-align: center;
}
.back {
    font-size: 2em;
}
.error {
    color: #ff4d4d;
}
.form-button {
    color: black;
}